*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}
.box1{
    background-color: blue;
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
}
